# Usage: pip install -r requirements.txt

# Flask Framework
Flask==1.1.2

# Flask Packages
flask-mongoengine==0.9.5
flask_cors==3.0.7

# Mongo
mongoengine==0.20.0
pymongo==3.11.0

# Other
marshmallow==3.7.1